header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
      margin-right: 16px;
    }
  }
}
